@import '../../style/global.scss';

.text {
  color: $gray-5;
  font-size: 16px;
  font-family: $base-font;
  line-height: 26px;
  text-align: left;

  &--callout {
    font-size: 18px;
    line-height: 30px;
  }
}
