@import '../../style/global.scss';

.user-nav {
  color: #eee;
  display: flex;
  flex-wrap: nowrap;
  font-family: $base-font;
  font-size: 14px;
  justify-content: flex-end;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-left: 16px;
  }

  &__link {
    color: #333;
  }
}
