@import '../../style/global.scss';

.text-input {
  border: 1px solid $gray-c;
  border-radius: 4px;
  box-sizing: border-box;
  color: $gray-5;
  font-family: $base-font;
  font-size: 16px;
  padding: $spacing-1x $spacing-2x;
  transition: all 0.2s;

  &:focus {
    border-color: #000;
    box-shadow: 0 0 5px 0 #ccc;
    outline: none;
  }
}
