$light-tan: #f1f0ea;
$gray-5: #555;
$gray-c: #ccc;
$gray-e: #eee;
$white: #fff;

$base-font: 'Nunito Sans', 'sans-serif';

$text-color: $gray-5;

$spacing-1x: 8px;
$spacing-2x: 16px;
$spacing-3x: 24px;
$spacing-4x: 32px;
$spacing-5x: 40px;
$spacing-6x: 48px;
$spacing-7x: 56px;
$spacing-8x: 64px;
$spacing-9x: 72px;
$spacing-10x: 80px;

$breakpoint-s: 540px;
$breakpoint-m: 720px;
$breakpoint-l: 960px;
$breakpoint-xl: 1140px;
